*{ margin: 0; padding: 0; border: none; list-style: none;}
body{ font-size: 14px; color: #333;}
.content{ width: 100%; height: 100%; overflow: hidden; position: absolute;}
.content-wrap{ position: relative;}
.content-wrap > li {
    background: #CAE1FF;
    color: red;
    float: left;
    overflow: hidden;
    position: relative;
}
.content-wrap > li {
    background: #CAE1FF;
    color: red;
    float: left;
    overflow: hidden;
    position: relative;
}
li:nth-child(2) {
    background: #9BCD9B;
}

li:nth-child(3) {
    background: yellow;
}

button {
    width: 100px;
    height: 50px;
}

.button {
    position: absolute;
    bottom: 0;
}
/* 页面背景 */
.pg_background{ width: 100%; height: 100%}
.pg_background_top{ width: 100%; height: 71.6%; background-image: url("../images/background/a_background_top.png"); background-size: 100% 100%;}
.pg_background_middle{ width: 100%; height: 13.1%; background-image: url("../images/background/a_background_middle.png"); background-size: 100% 100%;}
.pg_background_bottom{ width: 100%; height: 15.3%; background-image: url("../images/background/a_background_botton.png"); background-size: 100% 100%;}

.boy{ width: 151px; height: 291px; background: url("../images/boy.png") 0 -291px no-repeat; position: absolute; left: 6%; top: 55%;}